/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  font-size: 4rem;
}

.title {
  font-family: 'Fira Sans';
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.screenshots {
  position: relative;
}
.screenshot {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
  box-shadow: 0px 0px 10px black;;
}
.screenshot + .screenshot {
  display: none;
}

/* Features
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.features {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  padding-bottom: 5rem;
  padding-bottom: 5rem;
}
.feature-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.feature-heading {
  margin-bottom: .3rem;
}
.feature-description {
  font-size: 1.6rem;
  font-weight: 300;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }

  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 245px;
  }
  .screenshot {
    position: absolute;
    top: -4rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .screenshot + .screenshot {
    top: -3rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  h1 {
    font-size: 5rem;
  }

  .hero {
    height: 300px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 8rem 0 8rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .screenshot {
    top: -6rem;
    right: 5rem;
    max-height: 510px;
  }
  .screenshot + .screenshot {
    top: -4rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
    height: 195px;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .screenshot {
    top: -14rem;
    max-height: 615px;
  }
  .screenshot + .screenshot {
    top: -12rem;
    max-height: 570px;
  }
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.principles {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 8rem 0 7rem;
}
