.music-sidebar {
  .sidebar-header {
    position: fixed;
    top: 0;
    right: 0;
    width: $playlist-width;
    height: $sidebar-height;
    background-color: $background-color;
    //border-bottom: 1px solid $border-color;
    line-height: $sidebar-height;
    padding: 0 $default-padding;
    font-size: $navbar-font-size;
  }

  .sidebar-playlist-header {
    font-size: 1.2rem;

    .sidebar-header-link {
      width: 100%;
    }

    .sidebar-title {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      i {
        width: 2rem;
      }
    }

  }


  .soundcloud-widget {
    position: fixed;
    top: $sidebar-height;
    right: 0;
    width: $playlist-width;
    background-color: #f5f5f5;;
  }

  .video {
    position: fixed;
    top: $sidebar-height;
    right: 0;
    width: $playlist-width;
    background-color: $background-color;
  }

  .playlist {
    position: fixed;
    top: 180px + 16px * 4;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    //-webkit-overflow-scrolling: touch;
    width: $playlist-width;
    background-color: $background-color;
  }

  .playlist a:hover, .playlist .active {
    background-color: $highlight-background-color;
  }

  .playlist-item {
    display: table;
    padding: 0.5rem $default-padding 0.5rem $default-padding;
    width: 100%;

    .title {
      display: table-cell;
    }

    .playback-status {
      display: table-cell;
      width: 2rem;
      vertical-align: middle;
    }
  }

  .my-playlists {
    position: fixed;
    top: $sidebar-height;
    right: 0;
    bottom: 0;
    width: $playlist-width;
    background-color: $background-color;

    .playlists-container {
      position: absolute;
      top: 0;
      bottom: 120px;
      overflow-y: auto;
      //-webkit-overflow-scrolling: touch;
    }

    .my-playlist {
      position: relative;

      .playlist-link {
        display: block;
        padding: $min-padding $default-padding * 2 $min-padding $default-padding;

        .playlist-name {
          display: table-cell;

          i {
            display: table-cell;
            width: 30px;
          }

          span {
            display: table-cell;
          }
        }
      }

      .playlist-delete {
        position: absolute;
        top: $min-padding;
        right: $default-padding;
      }
    }

    .playlist-add-container {
      position: fixed;
      bottom: 0;
      right: 0;
      width: $playlist-width;
      padding: $default-padding;

      .playlist-input {
        width: 100%;
        color: black;
        padding: $min-padding;
        border-radius: $border-radius;
        margin-bottom: $default-margin;
        border: 1px solid $text-color;
      }

      .playlist-add {
        padding: $min-padding;
        display: block;
        width: 100%;
        background-color: $tomato;
        text-align: center;
        border-radius: $border-radius;
      }
    }
  }

  .sidebar-header, .my-playlists, .playlist, .video, .soundcloud-widget {
    transform: translateX($playlist-width);
    transition: transform .2s ease-in-out;
  }
}
