.playlist-widget {
  .soundcloud-widget {
    position: fixed;
    top: 0;
    right: 0;
    width: $playlist-width;
  }

  .video {
    position: fixed;
    top: 0;
    right: 0;
    width: $playlist-width;
    z-index: 1;
  }

  .playlist {
    position: fixed;
    top: 180px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    width: $playlist-width;
    background-color: $background-color;
  }

  .playlist a:hover, .playlist .active {
    background-color: $highlight-background-color;
  }

  .playlist-item {
    display: table;
    padding: 0.5rem $default-padding 0.5rem $default-padding;
    width: 100%;

    .title {
      display: table-cell;
    }

    .playback-status {
      display: table-cell;
      width: 2rem;
      vertical-align: middle;
    }
  }

  .my-playlists {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $playlist-width;
    background-color: $playlist-color;
    color: $playlist-text-color;

    .my-playlist {
      display: block;
      color: $playlist-text-color;
      padding: $default-padding;
      border-bottom: 1px solid $tomato;
      word-break: break-all;
    }

    .playlist-add-container {
      position: fixed;
      bottom: 0;
      right: 0;
      width: $playlist-width;
      padding: $default-padding;



      .playlist-input {
        width: 100%;
        color: black;
        padding: $min-padding;
        border-radius: $border-radius;
        margin-bottom: $default-margin;
      }

      .playlist-add {
        //background-color: $tomato;
        padding: $min-padding;
        display: block;
        width: 100%;
        border: 1px solid $tomato;
        text-align: center;
        border-radius: $border-radius;
        color: $tomato;
      }
    }
  }

  .my-playlists, .playlist, .video, .soundcloud-widget {
    transform: translateX($playlist-width);
    transition: transform .2s ease-in-out;
  }
}
