.sidebar-header, .my-playlists, .playlist, .video, .soundcloud-widget {
  z-index: 10000;
}

// overlay on low resolutions
.music-sidebar-open .overlay, .menu-open .overlay {
  display: block;
}

// do not show overlay on higher resolutions
@media (min-width: 650px) {
  .music-sidebar-open .overlay, .menu-open .overlay {
    display: none;
  }
}

.menu-open {
  .menu {
    transform: translateX(0px);
    transition: transform .2s ease-in-out;
  }
}

// music sidebar on low resolutions
.music-sidebar-open {
  .sidebar-header, .my-playlists, .playlist, .video, .soundcloud-widget {
    transform: translateX(0px);
    transition: transform .2s ease-in-out;
  }
}

// sidebar on higher resolutions
@media (min-width: 650px) {
  .music-sidebar-open {
    .navbar, .content {
      right: $playlist-width;
    }
  }

  .menu-open .content {
    left: $playlist-width;
  }

  .navbar, .content {
    transition: left .2s ease-in-out, right .2s ease-in-out;
  }
}

// overlay displayed on lower resolutions when sidebar open
.overlay {
  position: fixed;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  display: none;
  background: rgba(0,0,0,.5);
  z-index: 5000;
}
