@import "variables";
@import "base.scss";
@import "components/background-box.scss";
/* content */

.content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.timer-route {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.about-route {
  padding: $default-padding;
}

/* components */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navbar-height;
  padding: $default-padding;
  z-index: 1;

  .title {
    font-size: $navbar-font-size;
  }

  .nav-links {
    font-size: 1.5rem;
    line-height: $navbar-font-size;
    float:right;

    i {
      padding: 0 0 0 $default-padding;
      //font-size: $navbar-font-size;
    }

    a.active {
      font-weight: bold;
    }
  }
}




.pomodoro-timer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;

  .progressbar-text {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 5px 0 0 0;
    transform: translate(-50%, -50%);
    font-size: 4rem;
  }

  .timer-control {
    margin-top: $default-margin;
    padding: 0px;
    font-size: 2rem;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.playlist-widget {
  .soundcloud-widget {
    position: fixed;
    top: 0;
    right: 0;
    width: $playlist-width;
  }

  .video {
    position: fixed;
    top: 0;
    right: 0;
    width: $playlist-width;
    z-index: 1;
  }

  .playlist {
    position: fixed;
    top: 180px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    width: $playlist-width;
    background-color: $background-color;
  }

  a:hover, .playlist .active {
    background-color: $highlight-background-color;
  }

  .playlist-item {
    display: table;
    padding: 0.5rem $default-padding 0.5rem $default-padding;
    width: 100%;

    .title {
      display: table-cell;
    }

    .playback-status {
      display: table-cell;
      width: 2rem;
      vertical-align: middle;
    }
  }

  .my-playlists {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $playlist-width;
    background-color: silver;

    .playlist-input, button {
      color: black;
    }
  }

  .my-playlists, .playlist, .video, .soundcloud-widget {
    transform: translateX($playlist-width);
    transition: transform .2s ease-in-out;

  }

}

.music-sidebar-open {
  .my-playlists, .playlist, .video, .soundcloud-widget {
    transform: translateX(0px);
    transition: transform .2s ease-in-out;
    z-index: 10000;
  }

  .nav-links {
    display: none;
  }

  .overlay {
    display: block;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;

  display: none;
  background: rgba(0,0,0,.5);
  z-index: 5000;
}

@media (min-width: 650px) {
  .music-sidebar-open {
    .nav-links {
      display: block;
    }

    .navbar, .content {
      right: $playlist-width;
    }

    .overlay {
      display: none;
    }
  }

  .navbar, .content {
    transition: right .2s ease-in-out;
  }
}
