.timer-route {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.about-route, .settings-route {
  padding: $default-padding;
}

.settings-route .tab-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 500px;
  margin: $navbar-height auto auto auto;

  .tabs {
    width: 100%;
  }

  .tab-content {
    padding: $default-padding;
  }

  .tab {
    padding: $default-padding;
    display: inline-block;
    width: 5rem;
    text-align: center;
  }

  .tab.active {
    border-bottom: 2px solid $tomato;
  }

}
