/* variables */

$default-padding: 1rem;
$default-margin: 1rem;
$navbar-height: 4rem;
$playlist-width: 20rem;
$navbar-font-size: 2rem;
$blur-radius: 3px;

/* colors */
$background-color: #222;
$highlight-background-color: #333;
$border-color: #ccc;
$text-color: #fff;
